<html ng-app="parisApp">

<head>
    <title>Paris-Advisor</title>
    <link href="style.css" rel="stylesheet" type="text/css" />    
</head>

<body ng-controller="indexController as indxCtrl">

    <div>

        <ul>
            <li ng-disabled="indxCtrl.showSavedIcon"><a href="#/favorite"><img ng-src="heart.png" height="40"
                        ng-show="indxCtrl.showSavedIcon"> <span
                        ng-show="indxCtrl.showSavedIcon">{{indxCtrl.numberOfSaved}}</span></a></li>
            <li ng-repeat="header in indxCtrl.headers"><a href="{{header.hashbang}}"> <span
                class="myT">{{header.value}}</span></a></li>

            <span class="myT" ng-model="indxCtrl.username">hello {{indxCtrl.username}}</span>
        </ul>

        <br>
        <br>
        <div ng-view></div>

        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                    <span class="close" ng-click="spanclick()">&times;</span>
                    <p><span style="font-size: 20pt"><span ng-bind="indxCtrl.currPoint.Name"></span></span></p>
    
                    <table ng-style="{'align': 'center', 'width': '100%', 'dir': 'ltr'}">
                            <tr ng-style="{'bgcolor': 'rgb(241, 216, 238)'}">
                                    <td ng-style="{'width': '40%'}"><span style="font-size: 20pt">Picture</span></td>
                                    <td ng-style="{'width': '20%'}"><span style="font-size: 20pt">Views</span></td>
                                    <td ng-style="{'width': '20%'}"><span style="font-size: 20pt">Rank</span></td>
                                    <td ng-style="{'width': '20%'}"><span style="font-size: 20pt">Description</span></td>
                            </tr>
                            <tr ng-style="{'bgcolor': '#669900'}">
                                    <td ng-style="{'width': '40%'}">
                                            <img ng-style="{'height': '200px', 'width': '200px'}"
                                                    ng-src="{{indxCtrl.currPoint.imagePath}} ">
                                    </td>
                                    <td ng-style="{'width': '20%'}">
                                            <span class="myT2"><span ng-bind="indxCtrl.currPoint.Views"></span></span>
                                    </td>
                                    <td ng-style="{'width': '20%'}">
                                            <span class="myT2"><span ng-bind="indxCtrl.pointRank">%</span></span>
                                    </td>
                                    <td ng-style="{'width': '20%'}">
                                            <span class="myT2"><span ng-bind="indxCtrl.currPoint.Description"></span></span>
                                    </td>
                            </tr>
                    </table>
                    <br>
                    <br>
                    <br>
                    <table ng-style="{'align': 'center', 'width': '100%', 'dir': 'ltr'}">
                            <tr ng-style="{'bgcolor': '#669900'}">
                                    <td ng-show="indxCtrl.loggedIn" ng-style="{'width': '50%'}">
                                            <table ng-style="{'align': 'center', 'width': '100%', 'dir': 'ltr'}">
                                                    <tr ng-style="{'bgcolor': '#669900'}">
                                                            <td ng-style="{'width': '100%'}"><span style="font-size: 20pt">Add New Review</span></td>
                                                    </tr>
                                                    <tr ng-style="{'bgcolor': '#669900'}">
                                                            <td ng-style="{'width': '100%'}">
                                                                    <form name="form1" novalidate>
                                                                            <label>Review Description:
                                                                                    <input type="text" name="RD"
                                                                                            ng-model="indxCtrl.review"
                                                                                            required />
                                                                            </label>
                                                                            <br />
                                                                            <input type="submit" value="Add"
                                                                                    ng-click="addReview()" />
    
                                                                    </form>
                                                            </td>
                                                    </tr>
                                            </table>
                                    </td>
                                    <td ng-show="indxCtrl.loggedIn" ng-style="{'width': '50%'}">
                                            <table ng-style="{'align': 'center', 'width': '100%', 'dir': 'ltr'}">
                                                    <tr ng-style="{'bgcolor': '#669900'}">
                                                            <td ng-style="{'width': '100%'}"><span style="font-size: 20pt">Add New Rank</span></td>
                                                    </tr>
                                                    <tr ng-style="{'bgcolor': '#669900'}">
                                                            <td ng-style="{'width': '100%'}">
                                                                    <form name="form1" novalidate>
                                                                            <label>Rank:
                                                                                    <select ng-model="indxCtrl.rank" name="rankSelect"
                                                                                    ng-options="rank as rank for rank in indxCtrl.ranks" required>
                                                                                    </select>
                                                                            </label>
                                                                            <br />
                                                                            <input type="submit" value="Add"
                                                                                    ng-click="indxCtrl.addRank()" />
    
                                                                    </form>
                                                            </td>
                                                    </tr>
                                            </table>
                                    </td>
                            </tr>
                    </table>
                    <table ng-style="{'align': 'center', 'width': '100%', 'dir': 'ltr'}">
                            <tr ng-style="{'bgcolor': '#669900'}">
                                    <td ng-style="{'width': '50%'}">
    
                                            <table ng-style="{'align': 'center', 'width': '100%', 'dir': 'ltr'}">
                                                    <tr ng-style="{'bgcolor': '#669900'}">
                                                            <td ng-style="{'width': '100%'}"><span style="font-size: 20pt">Two Last Review</span></td>
                                                    </tr>
    
                                                    <tr ng-style="{'bgcolor': '#669900'}" ng-repeat="R in indxCtrl.reviews">
                                                            <td ng-style="{'width': '100%'}">
                                                                    <span class="myT2">
                                                                            {{R.SubmittedBy}}
                                                                            <br>
                                                                            {{R.DateSubmitted}}
                                                                            <br>
                                                                            {{R.Review}}
                                                                    </span>
                                                            </td>
                                                    </tr>
    
                                            </table>
                                            
    
                                    </td>
                                </tr>
                            </table>
            </div>
    
    </div>


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="indexController.js"></script>
    <script src="components/About/aboutController.js"></script>
    <script src="components/POI/poiCtrl.js"></script>
    <script src="components/Login/loginController.js"></script>
    <script src="components/Home/homeController.js"></script>
    <script src="components/Favorite/favoriteController.js"></script>
    <script src="components/Password/passwordController.js"></script>
    <script src="components/Register/registerController.js"></script>
    <script src="components/Services/serviceController.js"></script>
    <script src="components/Services/localStorageModel.js"></script>

</body>

</html>