<center></canter><p><span id="title" data-shadow-text="Text-Shadow">Paris-Advisor</span></p>

<p><span style="font-size: 20pt">Log in:</span></p>
<p>
        <form name="form" novalidate>
                <label><span class="myT2">Username:</span>
                        <input type="text" ng-model="lgnCtrl.username" name="username" required />
                        <span ng-show="form.$submitted || form.username.$touched">
                                <span ng-show="form.username.$error.required">Enter your Username.</span>
                        </span>
                </label>
                <br />
                <label><span class="myT2">Password:</span>
                        <input type="password" ng-model="lgnCtrl.Password" name="Password" required />
                        <span ng-show="form.$submitted || form.Password.$touched">
                                <span ng-show="form.Password.$error.required">Enter your Password.</span>
                        </span>
                </label>
                <br />
                <label>
                        <span ng-show="lgnCtrl.success=='false'">Wrong parameters.</span>
                </label>
                </br>
                <input type="submit" ng-click="lgnCtrl.login()" value="Login" ng-disabled="form.$invalid " />
                <input type="submit" ng-click="lgnCtrl.goToRestorePass()" value="Forgot Password?" />
                <br>
                <input type="submit" ng-click="lgnCtrl.goToRegister()" value="Move to Register Page" />
                
        </form>


        <p><span style="font-size: 20pt">Suggested for you</span></p>
        <table ng-style="{'align': 'center', 'width': '30%', 'dir': 'ltr'}">
                <tr ng-style="{'bgcolor': '#669900'}">
                        <td ng-style="{'width': '30%'}"><span class="myT2"></span></td>
                        <td ng-style="{'width': '30%'}"><span class="myT2"></span></td>
                </tr>

                <tr ng-style="{'align': 'center','bgcolor': '#669900'}" ng-repeat="popular in lgnCtrl.threePopular">
                        <td ng-style="{'width': '30%'}" ng-click="btnclick(popular.id)">
                                <span class="myT2">{{popular.point.Name}}</span>
                        </td>

                        <td ng-style="{'align': 'center','width': '30%'}" ng-click="btnclick(popular.id)">
                                <img ng-style="{'height': '100px', 'width': '100px', 'cursor': 'pointer'}"
                                        ng-src="{{popular.point.imagePath}} ">
                        </td>
                </tr>
        </table>
</p>
</center>






