
        <form name="form1" novalidate>
            <label>User name:
              <input type="text" ng-model="pssCtrl.userName" name="username" required />
              <span ng-show="form1.$submitted || form1.username.$touched">
                    <span ng-show="form1.username.$error.required">Enter your Username.</span>
                  </span>
            </label>
            <br/>
            <label>first question:
                <input type="text" ng-model="pssCtrl.answer1" name="answer1" required />
                <span ng-show="form1.$submitted || form1.answer1.$touched">
                      <span ng-show="form1.answer1.$error.required">Enter your first answer.</span>
                    </span>
              </label>
              <br/>
              <label>second question:
                  <input type="text" ng-model="pssCtrl.answer2" name="answer2" required />
                  <span ng-show="form1.$submitted || form1.answer2.$touched">
                        <span ng-show="form1.answer2.$error.required">Enter your second answer.</span>
                      </span>
                </label>
                <div ng-show="pssCtrl.wrongParameters">One or more of your parameters are wrong.</div>
                <div ng-show="pssCtrl.show">Your password is : {{pssCtrl.Password}}</div>
                <br/>
            <input type="submit" ng-click="pssCtrl.popUp()" value="Restore" ng-disabled="form1.$invalid"/>
          </form>