
        <form name="form1" novalidate>
            <label>User name:
              <input type="text" ng-model="pssCtrl.userName" name="username" required />
              <span ng-show="form1.$submitted || form1.username.$touched">
                    <span ng-show="form1.username.$error.required">Enter your Username.</span>
                  </span>
            </label>
            <br/>
            <label>Security question:
                  <select ng-model="pssCtrl.question" name="questionSelect"
                  ng-options="question as question for question in pssCtrl.questions" required>
                  </select>
                  <span ng-show="form.$submitted || form1.questionSelect.$touched">
                          <span ng-show="form1.questionSelect.$error.required">Pick a question</span>
                        </span>
            </label>
            <br>
            <label>Your answer:
                <input type="text" ng-model="pssCtrl.answer" name="answer1" required />
                <span ng-show="form1.$submitted || form1.answer1.$touched">
                      <span ng-show="form1.answer1.$error.required">Enter your answer.</span>
                    </span>
              </label>
              <br/>
                <div ng-show="pssCtrl.wrongParameters">One or more of your parameters are wrong.</div>
                <div ng-show="pssCtrl.show">Your password is : {{pssCtrl.Password}}</div>
                <br/>
            <input type="submit" ng-click="pssCtrl.popUp()" value="Restore" ng-disabled="form1.$invalid"/>
          </form>