<center><h5><span id="title"data-shadow-text="Text-Shadow">Paris-Advisor</span><br></h5>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p><span class="myTabout">
Paris is the capital and most populous city of France, with an area of 105 square kilometres and an official estimated population of 2,140,526 residents as of 1 January 2019. 
<br>
Since the 17th century, Paris has been one of Europe's major centres of finance, diplomacy, commerce, fashion, science, as well as the arts.
<br>
The City of Paris is the centre and seat of government of the Île-de-France, or Paris Region, which has an estimated official 2019 population of 12,213,364, or about 18 percent of the population of France.
<br>
Paris is especially known for its museums and architectural landmarks: the Louvre was the most visited art museum in the world in 2018, with 10.2 million visitors.
<br>
The Musée d'Orsay and Musée de l'Orangerie are noted for their collections of French Impressionist art, and the Pompidou Centre Musée National d'Art Moderne has the largest collection of modern and contemporary art in Europe.
<br>
The historical district along the Seine in the city centre is classified as a UNESCO Heritage Site.
<br>
Popular landmarks in the centre of the city include the Cathedral of Notre Dame de Paris and the Gothic royal chapel of Sainte-Chapelle, both on the Île de la Cité; the Eiffel Tower, constructed for the Paris Universal Exposition of 1889; the Grand Palais and Petit Palais, built for the Paris Universal Exposition of 1900; the Arc de Triomphe on the Champs-Élysées, and the Basilica of Sacré-Coeur on the hill of Montmartre. Paris received 23 million visitors in 2017, measured by hotel stays, with the largest numbers of foreign visitors coming from the United States, the United Kingdom, Germany and China.
<br>
</span></p>

<br>
<br>
<br>
<img ng-src="https://img.mako.co.il/2017/12/28/NaughtyNut29837_i.jpg"></center>
