<p><span id="abdror"data-shadow-text="Text-Shadow">Paris Advisor <br> Points Of Interests</span></p>
<table ng-style="{'align': 'center', 'width': '80%', 'dir': 'ltr'}">
        <tr ng-style="{'bgcolor': '#669900'}">
            <td ng-style="{'width': '40%'}"><span class="myT">Point Of Interest</span></td>
            <td ng-style="{'width': '40%'}"><span class="myT">Point Of Interest Picture</span></td>
            <td ng-style="{'width': '20%'}"><span class="myT">Favorite</span></td>
        </tr>
    
        <tr ng-style="{'bgcolor': '#669900'}" ng-repeat="p in poiCtrl.points">
            <td ng-style="{'width': '40%', 'cursor': 'pointer'}"  ng-click="btnclick(p.id)">
                <span class="myT2"><span ng-bind="p.point.Name" ></span></span>
            </td>
            
            <td ng-style="{'width': '40%'}"  ng-click="btnclick(p.id)">
                <img ng-style="{'height': '100px', 'width': '100px', 'cursor': 'pointer'}" ng-src="{{p.point.imagePath}} ">
            </td>
    
            <td ng-style="{'width': '40%'}">
                <label class="switch">
                        <input type="checkbox" ng-checked="p.checked" ng-click="poiCtrl.switch(p.id)">
                        <span class="slider round"></span>
                </label>
            </td>
        </tr>
</table>


