<p><span id="abdror"data-shadow-text="Text-Shadow">Paris Advisor- Home Page</span></p>
<p>
    <p><span class="myT3">Hello and Welcome To Paris Advisor</span></p>
     <hr>
     <br>
     <p><span class="myT">Two Suggested POI Based On Your Categories</span></p>
     <br>
     <table ng-style="{'align': 'center', 'width': '80%', 'dir': 'ltr'}">
            <tr ng-style="{'bgcolor': '#669900'}">
                <td ng-style="{'width': '40%'}"><span class="myT">Point Of Interest</span></td>
                <td ng-style="{'width': '40%'}"><span class="myT">Point Of Interest Picture</span></td>
                <td ng-style="{'width': '20%'}"><span class="myT">Favorite</span></td>
            </tr>
        
            <tr ng-style="{'bgcolor': '#669900'}" ng-repeat="popular in hmCtrl.Populars">
                <td ng-style="{'width': '40%', 'cursor': 'pointer'}" ng-click="popularClicked(popular.id)">
                    <span class="myT2"><span ng-bind="popular.point.Name"></span></span>
                </td>
                
                <td ng-style="{'width': '40%'}" ng-click="popularClicked(popular.id)">
                    <img ng-style="{'height': '100px', 'width': '100px', 'cursor': 'pointer'}" ng-src="{{popular.point.imagePath}} ">
                </td>
        
                <td ng-style="{'width': '40%'}">
                    <!--<button ng-click="poiCtrl.selectedCity(id)"> add city</button>-->
                    <label class="switch">
                            <input type="checkbox" ng-checked="popular.checked" ng-click="hmCtrl.switchPopular(popular.id)">
                            <span class="slider round"></span>
                    </label>
                </td>
            </tr>
    </table>
    <br>
    <hr>
    <br>
    <p><span class="myT">Last Two Saved POI</span></p>
    <br>
    <table ng-style="{'align': 'center', 'width': '80%', 'dir': 'ltr'}">
            <tr ng-style="{'bgcolor': '#669900'}">
                <td ng-style="{'width': '40%'}"><span class="myT">Point Of Interest</span></td>
                <td ng-style="{'width': '40%'}"><span class="myT">Point Of Interest Picture</span></td>
                <td ng-style="{'width': '20%'}"><span class="myT">Favorite</span></td>
            </tr>
        
            <tr ng-style="{'bgcolor': '#669900'}" ng-repeat="p in hmCtrl.lastTwoPoints track by $index">
                <td ng-style="{'width': '40%', 'cursor': 'pointer'}" ng-click="savedClicked(p.id)">
                    <span class="myT2"><span ng-bind="p.point.Name"></span></span>
                </td>
                
                <td ng-style="{'width': '40%'}" ng-click="savedClicked(p.id)">
                    <img ng-style="{'height': '100px', 'width': '100px', 'cursor': 'pointer'}" ng-src="{{p.point.imagePath}} ">
                </td>
        
                <td ng-style="{'width': '40%'}">
                    <label class="switch">
                            <input type="checkbox"  ng-checked="p.checked" ng-click="hmCtrl.switchSaved(p.id)">
                            <span class="slider round"></span>
                    </label>
                </td>
            </tr>
    </table>
    <br>
</p>


<div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
                <span class="close" ng-click="spanclick()">&times;</span>
                <p><span class="myT"><span ng-bind="hmCtrl.currentPOI.Title"></span></span></p>

                <table ng-style="{'align': 'center', 'width': '100%', 'dir': 'ltr'}">
                        <tr ng-style="{'bgcolor': '#669900'}">
                                <td ng-style="{'width': '40%'}"><span class="myT">Picture</span></td>
                                <td ng-style="{'width': '20%'}"><span class="myT">Views</span></td>
                                <td ng-style="{'width': '20%'}"><span class="myT">Rank</span></td>
                                <td ng-style="{'width': '20%'}"><span class="myT">Description</span></td>
                        </tr>
                        <tr ng-style="{'bgcolor': '#669900'}">
                                <td ng-style="{'width': '40%'}">
                                        <img ng-style="{'height': '200px', 'width': '200px'}" ng-src="{{hmCtrl.currentPOI.PicturePath}} " >
                                </td>
                                <td ng-style="{'width': '20%'}">
                                        <span class="myT2"><span ng-bind="hmCtrl.currentPOI.Views"></span></span>
                                </td> 
                                <td ng-style="{'width': '20%'}">
                                        <span class="myT2"><span ng-bind="hmCtrl.currentPOIrank">%</span></span>
                                </td>
                                <td ng-style="{'width': '20%'}">
                                        <span class="myT2"><span ng-bind="hmCtrl.currentPOI.Description"></span></span>
                                </td>
                        </tr>
                </table>
                <br>
                <br>
                <br>
                <table  ng-style="{'align': 'center', 'width': '100%', 'dir': 'ltr'}">
                        <tr ng-style="{'bgcolor': '#669900'}">
                                <td ng-style="{'width': '50%'}">
                                        <table ng-style="{'align': 'center', 'width': '100%', 'dir': 'ltr'}">
                                                <tr ng-style="{'bgcolor': '#669900'}">
                                                        <td ng-style="{'width': '100%'}"><span class="myT">Add New Review</span></td>  
                                                </tr>
                                                <tr ng-style="{'bgcolor': '#669900'}">
                                                        <td ng-style="{'width': '100%'}">
                                                                <form name="form" novalidate>
                                                                        <label>Review Description:
                                                                                <input type="text" name="RD" ng-model="hmCtrl.newReview.userReview" required />
                                                                        </label>
                                                                        <br/>
                                                                        <label>Rank:
                                                                                <input type="text" ng-model="hmCtrl.newReview.userRank" name="rank" required />
                                                                        </label>
                                                                        <br />
                                                                        <input type="submit" value="Add" ng-disabled="hmCtrl.disableButton" ng-click="addR()"/>
                                                                        
                                                                </form>
                                                        </td>
                                                </tr>
                                        </table>
                                </td>



                                <td ng-style="{'width': '50%'}">

                                        <table ng-style="{'align': 'center', 'width': '100%', 'dir': 'ltr'}">
                                                <tr ng-style="{'bgcolor': '#669900'}">
                                                        <td ng-style="{'width': '100%'}"><span class="myT">Two Last Review</span></td>  
                                                </tr>

                                                <tr ng-style="{'bgcolor': '#669900'}" ng-repeat="R in hmCtrl.reviews">
                                                        <td ng-style="{'width': '100%'}">
                                                                <span class="myT2"><span ng-bind="R.myD"></span></span>
                                                        </td>
                                                </tr> 


                                                <!--<tr ng-style="{'bgcolor': '#669900'}">
                                                        <td ng-style="{'width': '100%'}">
                                                                <span class="myT2"><span>Review 1</span></span>
                                                        </td>    
                                                </tr>
                                                <tr ng-style="{'bgcolor': '#669900'}">
                                                        <td ng-style="{'width': '100%'}">
                                                                <span class="myT2"><span>Review 2</span></span>
                                                        </td>    
                                                </tr>-->

                                        </table>

                                </td>     
                        </tr> 
                </table>
        </div>
              
</div>


<div id="myModal2" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
                <span class="close2" ng-click="spanclick2()">&times;</span>
                <p><span class="myT"><span ng-bind="hmCtrl.currentPOI2.Title"></span></span></p>

                <table ng-style="{'align': 'center', 'width': '100%', 'dir': 'ltr'}">
                        <tr ng-style="{'bgcolor': '#669900'}">
                                <td ng-style="{'width': '40%'}"><span class="myT">Picture</span></td>
                                <td ng-style="{'width': '20%'}"><span class="myT">Views</span></td>
                                <td ng-style="{'width': '20%'}"><span class="myT">Rank</span></td>
                                <td ng-style="{'width': '20%'}"><span class="myT">Description</span></td>
                        </tr>
                        <tr ng-style="{'bgcolor': '#669900'}">
                                <td ng-style="{'width': '40%'}">
                                        <img ng-style="{'height': '200px', 'width': '200px'}" ng-src="{{hmCtrl.currentPOI2.PicturePath}} " >
                                </td>
                                <td ng-style="{'width': '20%'}">
                                        <span class="myT2"><span ng-bind="hmCtrl.currentPOI2.Views"></span></span>
                                </td> 
                                <td ng-style="{'width': '20%'}">
                                        <span class="myT2"><span ng-bind="hmCtrl.currentPOIrank2">%</span></span>
                                </td>
                                <td ng-style="{'width': '20%'}">
                                        <span class="myT2"><span ng-bind="hmCtrl.currentPOI2.Description"></span></span>
                                </td>
                        </tr>
                </table>
                <br>
                <br>
                <br>
                <table  ng-style="{'align': 'center', 'width': '100%', 'dir': 'ltr'}">
                        <tr ng-style="{'bgcolor': '#669900'}">
                                <td ng-style="{'width': '50%'}">
                                        <table ng-style="{'align': 'center', 'width': '100%', 'dir': 'ltr'}">
                                                <tr ng-style="{'bgcolor': '#669900'}">
                                                        <td ng-style="{'width': '100%'}"><span class="myT">Add New Review</span></td>  
                                                </tr>
                                                <tr ng-style="{'bgcolor': '#669900'}">
                                                        <td ng-style="{'width': '100%'}">
                                                                <form name="form2" novalidate>
                                                                        <label>Review Description:
                                                                                <input type="text" name="RD2" ng-model="hmCtrl.newReview2.userReview" required />
                                                                        </label>
                                                                        <br/>
                                                                        <label>Rank:
                                                                                <input type="text" ng-model="hmCtrl.newReview2.userRank" name="rank2" required />
                                                                        </label>
                                                                        <br />
                                                                        <input type="submit" value="Add" ng-disabled="hmCtrl.disableButton2" ng-click="addR2()"/>
                                                                        
                                                                </form>
                                                        </td>
                                                </tr>
                                        </table>
                                </td>



                                <td ng-style="{'width': '50%'}">

                                        <table ng-style="{'align': 'center', 'width': '100%', 'dir': 'ltr'}">
                                                <tr ng-style="{'bgcolor': '#669900'}">
                                                        <td ng-style="{'width': '100%'}"><span class="myT">Two Last Review</span></td>  
                                                </tr>

                                                <tr ng-style="{'bgcolor': '#669900'}" ng-repeat="R in hmCtrl.reviews2">
                                                        <td ng-style="{'width': '100%'}">
                                                                <span class="myT2"><span ng-bind="R.myD"></span></span>
                                                        </td>
                                                </tr> 


                                                <!--<tr ng-style="{'bgcolor': '#669900'}">
                                                        <td ng-style="{'width': '100%'}">
                                                                <span class="myT2"><span>Review 1</span></span>
                                                        </td>    
                                                </tr>
                                                <tr ng-style="{'bgcolor': '#669900'}">
                                                        <td ng-style="{'width': '100%'}">
                                                                <span class="myT2"><span>Review 2</span></span>
                                                        </td>    
                                                </tr>-->

                                        </table>

                                </td>     
                        </tr> 
                </table>
        </div>
              
</div>