<button ng-click="fvrCtrl.savePoi()">Save temp Poi!</button>

</br>
category
<select ng-model="fvrCtrl.Category1" name="Category" ng-options="category1 as category1 for category1 in fvrCtrl.category">
</select>
</br>
Rank
<select ng-model="fvrCtrl.Rank" name="Rank6" ng-options="rank1 as rank1 for rank1 in fvrCtrl.Rank1">
</select>


<p><span id="abdror" data-shadow-text="Text-Shadow">Paris Advisor- Favorites page</span></p>
<table ng-style="{'align': 'center', 'width': '80%', 'dir': 'ltr'}">
        <tr ng-style="{'bgcolor': '#669900'}">
            <td ng-style="{'width': '30%'}"><span class="myT">Point Of Interest</span></td>
            <td ng-style="{'width': '30%'}"><span class="myT">Point Of Interest Picture</span></td>
            <td ng-style="{'width': '20%'}"><span class="myT">Favorite</span></td>
            <td ng-style="{'width': '20%'}"><span class="myT">Order</span></td>
        </tr>
    
        <tr ng-style="{'bgcolor': '#669900'}" ng-repeat="point in fvrCtrl.points | filter:fvrCtrl.Category1 ">
            <td ng-style="{'width': '30%'}" ng-click="btnclick(point.id)">
                <span class="myT2"><span ng-bind="point.point.Name"></span></span>
            </td>
            
            <td ng-style="{'width': '30%'}" ng-click="btnclick(point.id)">
                <img ng-style="{'height': '100px', 'width': '100px'}" ng-src="{{point.point.imagePath}} ">
            </td>
    
            <td ng-style="{'width': '20%'}">
                <label class="switch">
                        <input type="checkbox" ng-checked="point.checked" ng-click="fvrCtrl.switched(point.id)">
                        <span class="slider round"></span>
                </label>
            </td>
            <td ng-style="{'width': '20%'}">
                <input type="textbox" ng-model=point.userIndex>
                <button ng-click="fvrCtrl.order(point.id)">Apply</button>
            </td>
        </tr>
</table>